resources/

# Lightning AI
lightning_logs/

# Pixi
.pixi/

# Python
__pycache__/
.pytest_cache/

# Ruff
.ruff_cache/

# Zed
.zed/

# JetBrains
.idea/

# Visual Studio Code
.vscode/

# macOS
.DS_Store

# Other
*.wav
*.pkl
*.csv
*.zip
*.hea
*.dat
