/resources/

# Pixi
.pixi/

# Python
__pycache__/
.pytest_cache/

# Ruff
.ruff_cache/

# Zed
.zed/*
!.zed/settings.json
!.zed/tasks.json

# JetBrains
.idea/

# Visual Studio Code
.vscode/

# macOS
.DS_Store

# Other
*.wav
*.pkl
*.csv
*.zip
*.hea
*.dat
